@font-face {
    font-family: 'buttonfont';
    src: url('../fonts/button_font.ttf')  format('truetype');
  }
  @font-face {
    font-family: 'contentfont';
    src: url('../fonts/content_font.ttf')  format('truetype');
  }
  @font-face {
    font-family: 'titlefont';
    src: url('../fonts/title_font.woff2')  format('truetype');
  }

body{
    /* background-image: url('../images/bankcake/background.jpg') ; */
    background-repeat: no-repeat; 
    background-size:100% 100vh;
    background-color: rgba(0, 0, 0, 0.8) !important;
    align-items: center !important;
    align-content: center !important;
    padding: auto;
    vertical-align: middle;
}
.flexable{
    font-family: 'contentfont';
    display:inline-flex;
}
.container{
    color:blanchedalmond; 
    margin: auto; 
    width: 50%;
    position: relative;
    top: 25vh;
}
.mainbutton{
    font-size: 12px !important;
    font-family: 'buttonfont' !important;
    color: white;
    background-color: transparent;
    border-radius: 15px !important;
    box-shadow:  5px 5px black;
    cursor:pointer;
    margin-left: 0px !important;
}

.mainbutton:hover{
    background-color: rgba(255, 255, 255,0.51) !important;
    border-radius: 15px;
    cursor: pointer;
}
#title{
    font-size: 30px;
    font-family: 'titlefont';
    color: blanchedalmond;
    margin-bottom: 25px;
}